<app-navbar></app-navbar>
<dx-data-grid class="dataGrid" [dataSource]="proveedores" [height]="'calc(100vh - 96px)'"
  (onRowDblClick)="mostrarDetalle($event)" [remoteOperations]="true" [showBorders]="true" noDataText=""
  [columnAutoWidth]="true" [allowColumnResizing]="true" [allowColumnReordering]="true" [columnHidingEnabled]="true"
  [hoverStateEnabled]="true" [wordWrapEnabled]="true" style="margin:20px; user-select: none;">
  <dxo-selection mode="single"></dxo-selection>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-load-panel text="" [showPane]="false"></dxo-load-panel>
  <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
  </dxo-editing>
  <dxi-column dataField="id" autoExpandGroup="true"></dxi-column>
  <dxi-column dataField="nombre"></dxi-column>
  <dxi-column dataField="empresa"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="telefono"> </dxi-column>
  <dxi-column dataField="direccion"></dxi-column>
  <dxi-column dataField="ciudad"></dxi-column>
  <dxi-column dataField="codigoPostal" autoExpandGroup="true"></dxi-column>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
</dx-data-grid>