<app-navbar></app-navbar>
<div class="container" *ngIf="venta">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="codEmpleado">Cod. Empleado</label>
                    <input type="text" class="form-control" id="codEmpleado" name="codEmpleado"
                        [(ngModel)]="venta.codEmpleado" required autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="metodo_pago">Método pago</label>
                    <input type="number" class="form-control" id="metodo_pago" name="metodo_pago"
                        [(ngModel)]="venta.codEmpleado" required autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha venta</label>
                    <input type="number" class="form-control" id="fecha" name="fecha" [(ngModel)]="venta.fecha" required
                        autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="total">Total venta</label>
                    <input type="number" class="form-control" id="total" name="total" [(ngModel)]="venta.total" required
                        autocomplete="off" />
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-edit"></i> Actualizar
                </button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver
                </button>
            </form>
        </div>
    </div>
</div>