<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <form class="form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div style="text-align: center; margin-bottom: 20px;">
                <img src="../../../assets/images/pngwing.com.png" width="100px" class="m-3">
                <h3 class="text-center pt-3" style="color: black; font-size: 20px;">MyCloudTPV</h3>
            </div>

            <div class="mb-4">
                <div class="card flex justify-content-center">
                    <span class="p-float-label" style="width: 100%;">
                        <input pInputText style="width: 100%;" type="email" formControlName="email" id="floatingInput"
                            [required]="true" />
                        <label for="floatingInput"><img src="../../../assets/images/user.png" />Email</label>
                    </span>
                </div>
            </div>
            <div class="card flex justify-content-center mb-4 text-danger">
                <span class="p-float-label" style="width: 100%;">
                    <input pInputText type="password" style="width: 100%;" formControlName="password"
                        id="floatingPassword" [required]="true" />
                    <label for="floatingPassword"><img src="../../../assets/images/password.png">Contraseña</label>
                </span>
            </div>

            <button type="submit" id="loginButton" class="btn w-100 mb-2"
                style="background-color: #227DBD; color: white;">
                <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"
                    hidden></span>
                Accede
            </button>

            <!-- Agregar el siguiente botón para ir a la página de registro -->
            <button type="button" class="btn w-100 mb-2" style="background-color: #34A853; color: white;" (click)="goToRegister()">
                Registrarse
            </button>
        </form>

        <div class="card justify-content-center">
            <p-toast class="errorToast" position="bottom-center"
                [breakpoints]="{'920px': {width: '80%', left: '50%'}}"></p-toast>
        </div>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>
<!--Header ends-->
