<app-navbar></app-navbar>
<div class="container" *ngIf="categoria">
    <div class="center">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="form">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="categoria.nombre"
                    required autocomplete="off" />
            </div>
            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                <i class="fas fa-edit"></i> Actualizar
            </button>
            <button class="btn btn-outline-primary btn-block" (click)="volver()">
                <i class="fas fa-arrow-alt-circle-left"></i> Volver
            </button>
        </form>
    </div>