<app-navbar></app-navbar>

<body>
        <div class="container-fluid principal">
                <div class="d-flex flex-wrap" style="justify-content: center">
                        <button class="btn btn-light option m-3" routerLink="/listaVenta">
                                <img src="./../../../assets/images/venta.png" width="50px" /><span>Ventas</span>
                        </button>
                        <button class="btn btn-light option m-3" routerLink="/listaProducto">
                                <span>Productos</span>
                        </button>
                        <button class="btn btn-light option m-3" routerLink="/listaCategoria">
                                <img src="./../../../assets/images/categoria.png" width="50px" /><span>Categorias</span>
                        </button>
                        <button class="btn btn-light option m-3" routerLink="/caja">
                                <img src="./../../../assets/images/caja.png" width="50px" /><span>Caja</span>
                        </button>
                        <button class="btn btn-light option m-3" routerLink="/listaEmpleado">
                                <img src="./../../../assets/images/empleado.png" width="50px" /><span>Empleados</span>
                        </button>
                        <button class="btn btn-light option m-3" routerLink="/listaProveedor">
                                <img src="./../../../assets/images/proveedor.png"
                                        width="50px" /><span>Proveedores</span>
                        </button>
                        <button class="btn btn-light option m-3"><span>Arqueo</span></button>
                        <button class="btn btn-light option m-3">
                                <img src="./../../../assets/images/ajustes.png"
                                        width="50px" /><span>Configuración</span>
                        </button>
                        <button class="btn btn-light option m-3">
                                <img src="./../../../assets/images/cliente.png" width="50px" /><span>Clientes</span>
                        </button>
                </div>
        </div>
</body>