<app-navbar></app-navbar>

<div class="center">
    <dx-form class="form" *ngIf="categoria" labelMode="floating" [formData]="categoria" style="margin-top: 10px;">
        <dxi-item itemType="group">
            <dxi-item itemType="group" caption="CATEGORIA">
                <dxi-item dataField="id" editorType="dxTextBox"
                    [editorOptions]="{ stylingMode: 'filled', readOnly: true }">
                    <dxo-label [visible]="false" text="ID"></dxo-label>
                </dxi-item>
                <dxi-item dataField="nombre" editorType="dxTextBox"
                    [editorOptions]="{ stylingMode: 'filled', readOnly: true }">
                    <dxo-label [visible]="false" text="Nombre"></dxo-label>
                </dxi-item>
            </dxi-item>
        </dxi-item>
    </dx-form>
    <button class="btn btn-outline-success form-button"
        style="border: 1px solid #198754; width: 100%;  margin-top: 10px; max-width: 1000px;"
        (click)="modificarCategoria(categoria!.id)">Modificar
        categoría</button>
    <button class="btn btn-outline-danger form-button"
        style="border: 1px solid #DC3545; width: 100%; margin-top: 10px; max-width: 1000px;"
        (click)="borrarCategoria(categoria!.id)">Eliminar
        categoría</button>
</div>